.Quote {
    flex-direction: column;
    color: white;
    background: #21554D;
    background-size: 178px 166px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.Quote img {
    width: 90%;
    max-width: 1130px;
}

.Quote p {
    width: 70%;
    max-width: 560px;
    text-align: center;
}

@media only screen and (min-width: 600px) and (min-height: 500px) {
    .Quote {
        background-size: 268px 249px;
    }
}

@media only screen and (min-width: 800px) and (min-height: 500px) {
    .Quote {
        background-size: 357px 332px;
    }
}