.Hero {
  min-height: 125vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  opacity: 0;
  transition: opacity 500ms ease-in-out;

  &.-loaded {
    opacity: 1;
  }

  > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-height: 600px) {
    min-height: 145vh;

    > div {
      min-height: 120vh;
    }
  }
}

.Hero__text {
  position: relative;
  margin: 10vh auto 0;
  width: 85%;
  text-align: center;

  @media only screen and (min-width: 600px) {
    width: 65%;
  }

  @media only screen and (min-width: 980px) {
    width: 90%;
  }
}

.Hero__logo {
  position: relative;
  max-width: 375px;
  width: 90%;

  &.-portrait {
    display: none;
  }

  @media only screen and (orientation: portrait) {
    &.-landscape {
      display: none;
    }

    &.-portrait {
      display: block;
    }
  }

  @media only screen and (min-width: 768px) {
    max-width: 600px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: none;
    max-height: 43vh;
    width: auto;
  }

  @media only screen and (min-width: 1400px) {
    max-width: 1200px;
    max-height: none;
    width: auto;
  }

  @media only screen and (orientation: landscape) and (max-width: 767px) {
    max-width: 400px;
  }

  @media only screen and (orientation: landscape) and (max-width: 1200px) {
    max-width: 900px;
  }

  @media only screen and (orientation: landscape) and (max-height: 700px) {
    max-width: 375px;
  }
}

.Hero__scrollIndicator {
  margin-top: 12vh;
  width: 80px;

  img {
    max-width: 100%;
  }

  @media only screen and (orientation: landscape) and (max-width: 767px) {
    margin-top: 10vh;
  }

  @media only screen and (max-height: 600px) {
    width: 60px;
    margin-top: 8vh;
  }
}
