.Charity {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 980px) {
    margin: 0;
    flex-direction: row;
  }

  section {
    position: relative;

    &:first-child {
      order: 2;
    }

    &:last-child {
      order: 1;
      margin-bottom: 25px;
    }

    @media only screen and (min-width: 980px) {
      flex: 1;

      &:first-child {
        order: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 0 0 42%;
        padding: 0 50px 0 0;
      }

      &:last-child {
        order: 2;
        flex: 0 0 58%;
        margin-bottom: 0;
      }
    }
  }

  .logo {
    position: absolute;
    top: 0;
    right: 0;
    background: #ddd;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transform: translate3d(15%, -50%, 0);

    img {
      display: block;
      width: 100%;
    }

    @media only screen and (min-width: 760px) {
      width: 180px;
      height: 180px;
    }
  }

  .img {
    max-width: 100%;
  }

  p {
    margin: -5px 0 30px;
  }
}
