html, body {
    overflow: visible !important;
    min-width: 0 !important;
    font-size: 16px !important;
}

body .app {
    font-family: 'Crimson Text', serif !important;
}

.app input {
    font-family: 'Crimson Text', serif !important;
}

.app button,
.app .button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.777778px;
    text-decoration: none;
    cursor: pointer;
}

.app button:not(.-plain),
.app .button:not(.-plain) {
    display: inline-block;
    appearance: none;
    border: 0;
    border-radius: 22px;
    padding: 10px 50px !important;
    line-height: 1.7em;
    background: #F9F5F1 !important;
}

.app button:focus,
.app .button:focus {
    outline: none;
}

.app button:not(.-plain).-red,
.app .button:not(.-plain).-red {
    background: #CB343E !important;
    color: #F9F5F1 !important;
}

.-fullbleed {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.-centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
}

.app p.-large {
    font-size: 1.5rem;
}

body .app  input[type=text] {
    outline: none !important;
}

@media only screen and (min-width: 980px) {
    .app p.-large {
        font-size: 1.875rem;
    }
}